<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            coffee shop
        </title>
    </head>
    <body>
         <h3>Welcome to coffee shop</h3>
        <form action="/order" method="POST">
            <h3>Please select type </h3>
            <input type="radio" name="coffee" value="Expresso" required="">Expresso<br>
            <input type="radio" name="coffee" value="latte">latte<br>
            <input type="radio" name="coffee" value="tea">tea<br>
            
            <h3>Please select quantity</h3>
            <input type="radio" name="quantity" value="small" required="">small<br>
            <input type="radio" name="quantity" value="medium">medium<br>
            <input type="radio" name="quantity" value="large">large<br>
            
            <h3>Please select toppings</h3>
            <input type="radio" name="topping" value="sugar" required="">sugar<br>
            <input type="radio" name="topping" value="choclate">choclate<br>
            <input type="radio" name="topping" value="none">None<br><br><br>
            <input type="submit" value="Submit Order"><br>
        </form>
    


</body>
</html>
